/* root */
:root {

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.wrapper {
  width: min(50rem, 100vw - 2rem);
  margin: auto;
  margin-top: 1rem;
}

.flex {
  display: flex;
  gap: 1rem; 
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

.outline {
  outline: 1px solid black;
}

/* General Styling */

section {
  background-color: lightgray;
  padding: 1rem;
}

body {
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}

section {
  margin: 1rem;
}

input {
  padding: .1rem 1rem;
}

button {
  border: none;
  background-color: lightgray;
}

.user-btn {
  border: 1px solid black; 
  background-color: lightgray;
  padding-inline: .5rem;
}

.user-btns {
  margin-top: .25rem;
  margin-bottom: 1rem;
  gap: .5rem;
}

button:hover {
  cursor: pointer;
}

.added-items-section, li, .total {
  justify-content: space-between;
}

.results-section {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .results-section {
    grid-column: 1
  }
}

nav {
  margin-bottom: 1rem;
}